.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  display: block;
}

.status {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
}

.status-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  background-color: #e9ecef;
}

.status-item {
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #07df38;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.switch-label {
  font-size: 18px;
  font-weight: bold;
}

.log {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  max-height: 150px;
  overflow-y: auto;
  font-size: 14px;
  text-align: left;
}

.pause-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pause-button:hover {
  background-color: #cc0000;
}

/* Estilos para los botones de encender y apagar LEDs */
.control-button-on {
  background-color: #007bff;  /* Azul para encender */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-button-off {
  background-color: #dc3545;  /* Rojo para apagar */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-button-on:hover {
  background-color: #0056b3;  /* Azul oscuro al pasar el mouse */
}

.control-button-off:hover {
  background-color: #c82333;  /* Rojo oscuro al pasar el mouse */
}
